<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="contador.piedras.juggerStonesV2"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="contador.piedras.juggerStonesV2.Game"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="contador.piedras.juggerStonesV2.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="contador.piedras.juggerStonesV2.SendEmail"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="contador.piedras.jugger.SEND_EMAIL" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="contador.piedras.juggerStonesV2.RegulationView">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="33b9dc66e140ebf407f97905f3aaa1a3d1524401"
            />
    </application>

</manifest>